* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url(https://cur.cursors-4u.net/others/oth-1/oth24.cur), auto;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-y: overlay;
}

/* BODY */
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  background-color: #0c0c0c;
}

/* HEADER */
header {
  width: 100%;
  height: 125px;
  background-color: #1f2833;
  color: #d8d32b;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 50px;
}

#returnlink {
  color: #d8d32b;
  display: flex;
  padding-right: 1.5em;
  justify-content: flex-end;
  margin-top: -10px;
  text-decoration: none;
}

#returnlink:hover {
  color: #938f1e;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* FIGURE */
figure {
  margin: 20px;
  margin-bottom: 100px;
  width: 396px;
  height: 545px;
  box-shadow: 0 0 25px rgb(199, 197, 197);
}

figcaption {
  text-align: center;
  background-color: #1f2833;
  padding: 10px;
  margin-top: -5px;
  color: #d8d32b;
  width: 400px;
  box-shadow: 0 0 25px rgb(199, 197, 197);
}

/* FOOTER */
footer {
  background-color: #1f2833;
  color: #d8d32b;
  font-size: 16px;
  padding: 5px 0 5px 20px;
  text-align: center;
  margin-top: 50px;
}
