/* CSS reset */

* {
    margin: 0;
    padding: 0;
}

/* HTML */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-y: overlay;
}

* {
    text-decoration: none;
}

h1 {
    font-size: 50px;
    color: azure;
}


/* BODY */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    background-color: #6B6E70;

}

/* NAVAGATION */
#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-color: #6B6E70;
    border: solid 1px black;
}

.nav-list {
    display: flex;
    list-style-type: none;

}

.nav-list a {
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    transition: transform 0.2s ease-out;
    color: #86C232;
}

.nav-list a:hover {
    transform: translateY(1.5px);
    color: azure;
}

/* HEADER */
#projects-header {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 25px;
    color: azure;
    font-size: 40px;
}


/* FLEXBOX */
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1f2833;
    color: #86C232;
}

.project-tile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* FIGURE */
figure {
    margin: 10px;
     
}

figcaption {
    text-align: center;
    background-color: #1f2833;
    padding: 10px;
    margin-top: -10px;
    color: #86C232;

}

figure:hover {
    box-shadow: 0 0 15px black;
}


/* CONTACT INFO */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #86C232;
    background-color: #1f2833;
    margin-top: 15px;
    padding: 75px;
}

.contact-details a {
    margin: 0 20px;
    font-size: 25px;
    color: #86C232;
}

.contact-info {
    text-align: center;
    margin-bottom: 25px;
    
}

.contact-details :hover {
    transform: translateY(2.5px);
    transition: transform 0.2s ease-out;
    color: azure;
}

/* FOOTER */
footer {
    background-color: #474B4F;
    color: azure;
    font-size: 16px;
    padding:5px 0 5px 20px;
    text-align: center;
}

/* MEDIA QUERY */
@media (max-width: 1200px) {
    * {
        font-size: 100%;
    }
}

@media (max-width: 980px) {
    * {
        font-size: 80%;
    
    }
}

