* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: cadetblue;
    text-align: center;
    padding: 3em;
}

#pokeheader {
  width: 50px;
  
}

.pokeGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.scene {
    width: 200px;
    height: 260px;
    border: 1px solid;
    margin: 15px;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }

  .card.is-flipped {
    transform: rotateY(180deg);
  }

  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    backface-visibility: hidden;
  }

  .card__face--front {
    background: rgb(235, 216, 111);
  }

  .card__face--front img {
    height: 180px;
    width: 180px;
    margin-top: 25px;
  }
  
  .card__face--back {
    background: blue;
    transform: rotateY(180deg);
  }

  footer {
    background-color: cadetblue;
    text-align: center;
    padding: 5px;
    margin-top: 25px;
  }