:root {
    margin: 0;
    box-sizing: border-box;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=107668), auto;
} 

main {
    display: flex;
}

img, nav {
    z-index: 1;
    position: relative;
}

.message-text {
    text-align: center;

}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}