:root {
    margin: 0;
    box-sizing: border-box;
} 

main {
    display: flex;
    height: 100vh;
}

img, nav {
    z-index: 1;
    position: relative;
}

.message-text {
    text-align: center;
    
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}