* {
    margin: 0;
    box-sizing: border-box;
}

.congressGrid {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;

}

figure {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

}

.figureDiv {
    margin: 1em;
}